.site-nav__item:nth-child(4), .hero__description, .advantages-container, .advantages-list__img, .ingridients-text {
  margin-right: auto;
  margin-left: auto;
}

.advantages-list__text--foodwine::after, .advantages-list__text--newyork::after, .advantages-list__text--bonappetit::after {
  display: block;
  content: '';
  height: 50px;
  margin-top: 36px;
}

:root {
  --body-background-color: #ffffff;
  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
  --button-background-color: #000000;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Roboto Serif', serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

p,
ul {
  margin: 0 0;
  padding: 0 0;
}

.container {
  /* outline: 2px solid tomato; */
  width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.body {
  width: 1440px;
  background-color: var(--body-background-color);
  color: var(--secondary-text-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
}

.button {
  background-color: var(--button-background-color);
  height: 52px;
  width: 180px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.heads {
  font-family: var(--secondary-font);
  margin: 0 0;
}

.icon-instagram,
.icon-twitter,
.icon-facebook {
  fill: #ffffff;
  transition: transform 250ms linear;
}

.icon-instagram:hover,
.icon-twitter:hover,
.icon-facebook:hover {
  transform: scale(1.2);
}

.form {
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  margin-top: 14px;
  color: #FFFFFF;
}

.signup-form__container {
  /* outline: 1px solid tomato; */
  display: flex;
  width: 440px;
  height: 53px;
  padding: 18px 0px 21px 9px;
  border-bottom: 1px solid #8A8A8A;
}

.signup-form__input {
  display: block;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.56;
  text-align: center;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  color: #818181;
  background-color: black;
  border: none;
}

.signup-form__button {
  display: block;
  margin-left: auto;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 17;
  text-align: center;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  color: var(--primary-text-color);
  background-color: var(--button-background-color);
  border: none;
  cursor: pointer;
}

.header {
  position: absolute;
  left: 60px;
}

.site-nav__list {
  display: flex;
  align-items: center;
}

.site-nav__item {
  transition: transform 250ms linear;
}

.site-nav__item:nth-child(-n + 2) {
  margin-right: 60px;
}

.site-nav__item:nth-child(5) {
  margin-right: 64px;
}

.site-nav__item:nth-child(6) {
  margin-right: 64px;
}

.site-nav__item:hover {
  transform: scale(1.2);
}

.site-nav__link {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.site-nav__link.current {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  color: var(--primary-text-color);
}

.site-nav__link.current::after {
  display: inline-block;
  position: absolute;
  left: -1px;
  top: 20px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.hero {
  display: flex;
  /* outline: 1px solid tomato; */
  background-color: #996B60;
}

.hero__description {
  width: 600px;
  margin-top: auto;
  margin-bottom: 100px;
}

.hero__head {
  font-weight: 400;
  font-size: 73px;
  line-height: 1.32;
  margin-bottom: 34px;
  color: #ffffff;
}

.hero__text {
  font-size: 18px;
  line-height: 1.78;
  margin-bottom: 46px;
  color: #ffffff;
}

.hero__button--shopall {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 18px 32px;
  background-color: transparent;
  color: #000000;
  border: 1px solid #ffffff;
  transition: transform 250ms linear;
}

.hero__button--shopall:hover {
  transform: scale(1.2);
  font-weight: bold;
}

.advantages {
  /* outline: 1px solid teal; */
  padding-top: 55px;
  padding-bottom: 55px;
}

.advantages-container {
  padding-bottom: 40px;
  border-bottom: 1px solid #BDBDBD;
}

.advantages-list {
  display: flex;
}

.advantages-list__item {
  /* outline: 1px solid rgb(128, 98, 0); */
  width: 330px;
  align-items: center;
  padding-top: 4px;
  padding-right: 15px;
  padding-left: 15px;
}

.advantages-list__item:not(:last-child) {
  margin-right: 150px;
}

.advantages-list__text {
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 1.78;
  text-align: center;
  color: #000000;
}

.advantages-list__img {
  display: block;
}

.advantages-list__text--foodwine::after {
  background-image: url("../images/advent/foodwine.png");
}

.advantages-list__text--newyork::after {
  background-image: url("../images/advent/new-work-times.png");
}

.advantages-list__text--bonappetit::after {
  background-image: url("../images/advent/bonappetit.png");
}

.advantages-list__text--newyork {
  margin-bottom: 0;
}

.ingridients {
  /* outline: 1px solid tomato; */
}

.ingridients-container {
  padding-top: 50px;
  padding-bottom: 61px;
  border-bottom: 1px solid #BDBDBD;
}

.ingridients-head {
  margin-right: auto;
  margin-left: auto;
  width: 760px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  text-align: center;
}

.ingridients-text {
  display: block;
  width: 250px;
  margin-bottom: 80px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  transition: transform 250ms linear;
}

.ingridients-text:hover {
  transform: scale(1.2);
  font-weight: bold;
}

.ingridients-semples {
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 80px;
}

.ingridients-list {
  display: flex;
}

.ingridients-list__item {
  width: 382px;
}

.ingridients-list__item:not(:last-child) {
  margin-right: 55px;
}

.ingridients-description {
  margin-top: 20px;
  padding-top: 1px;
  padding-right: 8px;
  padding-left: 8px;
}

.ingridients-list__head {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.47;
  text-align: center;
  margin-bottom: 16px;
}

.ingridients-list__text {
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  margin-bottom: 27px;
}

.ingridients__button--buynow {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  transition: transform 250ms linear;
}

.ingridients__button--buynow:hover {
  transform: scale(1.2);
  font-weight: bold;
}

.aperitifs {
  /* outline: 1px solid teal; */
  padding-top: 60px;
}

.aperitifs-container {
  padding: 0 0;
  border-bottom: 1px solid #BDBDBD;
}

.aperitifs__img {
  display: block;
  margin-bottom: 55px;
}

.aperitifs__description {
  display: flex;
  padding: 4px 15px 95px 15px;
}

.aperitifs__head {
  width: 310px;
  font-weight: 400;
  font-size: 53px;
  line-height: 1.51;
}

.aperitifs__text {
  width: 700px;
  font-size: 18px;
  line-height: 1.78;
  margin-left: auto;
}

.easyToDrink {
  /* outline: 1px solid tomato; */
}

.easyToDrink__container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 50px;
}

.easyToDrink__description {
  width: 390px;
  margin-right: auto;
}

.drinking-list__head {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.47;
  margin-bottom: 19px;
  color: #000000;
}

.drinking-list__text {
  font-size: 18px;
  line-height: 1.78;
  color: #000000;
}

.drinking-list__head--natural {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.23;
  margin-bottom: 17px;
  color: #000000;
}

.drinking-list__text {
  margin-bottom: 20px;
}

.drinking-list__text--nomargin {
  margin-bottom: -20px;
}

.reviews {
  /* outline: 1px solid tomato; */
  background-color: #000000;
}

.reviews__description {
  padding-top: 50px;
  padding-bottom: 50px;
}

.reviews-list {
  display: flex;
}

.reviews-list__item {
  /* outline: 1px solid tomato; */
  width: 330px;
  margin-right: 150px;
  padding-top: 45px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 1px;
}

.reviews-list__item:last-child {
  margin-right: -150px;
}

.reviews-list_text {
  font-size: 18px;
  line-height: 1.78;
  text-align: center;
  margin-bottom: 17px;
  color: #ffffff;
}

.reviews-list__reviewer {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.reviews-list__buyer {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  text-transform: capitalize;
  color: #8a8a8a;
}

.manufacturing {
  /* outline: 1px solid teal; */
}

.manufacturing__container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.manufacturing__description {
  width: 660px;
  margin-left: auto;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.manufacturing__head {
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  margin-bottom: 42px;
  color: #000000;
}

.manufacturing__text {
  font-size: 18px;
  line-height: 1.78;
  margin-bottom: 35px;
  color: #000000;
}

.manufacturing_link {
  display: inline-block;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  transition: transform 250ms linear;
}

.manufacturing_link:hover {
  transform: scale(1.2);
  font-weight: bold;
}

.mood {
  position: relative;
  height: 568px;
  background-image: url("../images/set-the-mood/set-the-mood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.setTheMood {
  position: absolute;
  left: 60px;
  top: 60px;
  background: #000;
  width: 550px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.mood-container {
  padding-right: 0px;
  padding-left: 0px;
}

.setTheMood__head {
  font-weight: 400;
  font-size: 55px;
  line-height: 1.45;
  text-align: center;
  margin-bottom: 9px;
  color: #ffffff;
}

.setTheMood__playlist {
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  margin-bottom: 26px;
  color: #ffffff;
}

.setTheMood__button--spotify {
  display: block;
  background-color: #ffffff;
  color: #000;
  margin-left: 185px;
  padding-top: 18px;
  transition: transform 250ms linear;
}

.setTheMood__button--spotify:hover {
  transform: scale(1.2);
  font-weight: bold;
}

.followus {
  position: absolute;
  top: 365px;
  background: #000;
  width: 550px;
  padding-top: 28px;
  padding-bottom: 35px;
  margin-top: 20px;
}

.followus__list {
  display: flex;
  justify-content: center;
}

.followus__item {
  margin-right: 25px;
}

.followus__item:last-child {
  margin-right: -25px;
}

.followus__text {
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
}

.followus__link {
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}

.followus__link:hover, .followus__link:focus {
  font-size: 16px;
  font-weight: 700;
}

.footer {
  /* outline: 2px solid #996B60; */
  background-color: #000000;
  padding-top: 45px;
  padding-bottom: 40px;
}

.footer-container {
  display: flex;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 125px;
}

.posted {
  width: 440px;
  /* outline: 1px solid brown; */
  margin-bottom: 116px;
  margin-right: auto;
}

.posted__head {
  font-weight: 400;
  font-size: 42px;
  line-height: 1.72;
  color: #FFFFFF;
}

.posted__text {
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
}

.dropus__list {
  width: 218px;
}

.dropus__list-head {
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 23px;
  color: #ffffff;
}

.dropus__item:not(:last-child) {
  margin-bottom: 21px;
}

.dropus__link {
  display: inline-block;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  transition: transform 250ms linear;
}

.dropus__link:hover {
  transform: scale(1.2);
}

.footer-copyright {
  display: flex;
}

.container-copyright {
  margin-left: 60px;
  margin-right: 60px;
}

.footer-copyright_link {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6);
}

.footer-copyright_item {
  font-size: 15px;
  line-height: 1.6;
  margin-right: 60px;
  color: #FFFFFF;
  transition: transform 250ms linear;
}

.footer-copyright_item:hover:not(:nth-child(1)) {
  transform: scale(1.2);
}

.footer-copyright_item:last-child {
  margin-right: -60px;
}
/*# sourceMappingURL=main.css.map */