:root {
  --body-background-color: #ffffff;
  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
  --button-background-color: #000000;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Roboto Serif', serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ========== BODY ==========*/
.body {
  background-color: var(--body-background-color);
  color: var(--secondary-text-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
}

/* ========== END BODY ==========*/

/* ========== COMPONENTS ========== */
.button {
  background-color: var(--button-background-color);
  height: 52px;
  width: 180px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.hero__button--shopall {
  background-color: rgba(255, 255, 255, 100%);
}

.ingridients__button--buynow {
  color: #ffffff;
}

.setTheMood__button--spotify {
  background-color: #ffffff;
}

.heads {
  font-family: var(--secondary-font);
}

/* ========== END COMPONENTS ========== */

/* ========== HEADER ========== */

.logo {
  background-color: aquamarine;
}

.site-nav__link {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* color: #FFFFFF; */
}

.site-nav__link:hover,
.site-nav__link:focus {
  font-weight: 700;
  font-size: 16px;
}

/* ========== END HEADER ========== */

/* ========== HERO ========== */
.hero__head {
  font-weight: 400;
  font-size: 73px;
  line-height: 1.32;
  /* color: #ffffff; */
}

.hero__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.78;
  /* color: #ffffff; */
}

/* .hero__button--shopall {
  font-weight: 400;
 font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
} */

/* ========== END HERO ========== */
