:root {
  --body-background-color: #ffffff;
  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
  --button-background-color: #000000;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Roboto Serif', serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ========== BODY ==========*/
.body {
  background-color: var(--body-background-color);
  color: var(--secondary-text-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
}

/* ========== END BODY ==========*/

/* ========== COMPONENTS ========== */
.button {
  background-color: var(--button-background-color);
  height: 52px;
  width: 180px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.hero__button--shopall {
  background-color: rgba(255, 255, 255, 100%);
}

.ingridients__button--buynow {
  color: #ffffff;
}

.setTheMood__button--spotify {
  background-color: #ffffff;
}

.heads {
  font-family: var(--secondary-font);
}

/* ========== END COMPONENTS ========== */

/* ========== HEADER ========== */

.logo {
  background-color: aquamarine;
}

.site-nav__link {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* color: #FFFFFF; */
}

.site-nav__link:hover,
.site-nav__link:focus {
  font-weight: 700;
  font-size: 16px;
}

/* ========== END HEADER ========== */

/* ========== HERO ========== */
.hero__head {
  font-weight: 400;
  font-size: 73px;
  line-height: 1.32;
  /* color: #ffffff; */
}

.hero__text {
  font-size: 18px;
  line-height: 1.78;
  /* color: #ffffff; */
}

/* .hero__button--shopall {
  font-weight: 400;
 font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
} */

/* ========== END HERO ========== */

/* ========== ADVANTAGES ========== */
.advantages-list__text {
  font-size: 18px;
  line-height: 1.78;
  text-align: center;
  color: #000000;
}
/* ========== END ADVANTAGES ========== */

/* ========== INGRIDIENTS ========== */
.ingridients-head {
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  text-align: center;
}
.ingridients-text {
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ingridients-list__head {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.47;
  text-align: center;
}

.ingridients-list__text {
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
}

/* ========== END INGRIDIENTS ========== */

/* ========== APERITIFS ========== */
.aperitifs__head {
  font-weight: 400;
  font-size: 53px;
  line-height: 1.51;
}

.aperitifs__text {
  font-size: 18px;
  line-height: 1.78;
}

/* ========== END APERITIFS ========== */

/* ========== EASY TO DRINK ========== */
.drinking-list__head {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.47;
  color: #000000;
}

.drinking-list__text {
  font-size: 18px;
  line-height: 1.78;
  color: #000000;
}

.drinking-list__head--natural {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.23;
  color: #000000;
}
/* ========== END EASY TO DRINK ========== */

/* ========== REVIEWS ========== */
.reviews-list_text {
  font-size: 18px;
  line-height: 1.78;
  text-align: center;
  /* color: #ffffff; */
}

.reviews-list__reviewer {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  /* color: #FFFFFF; */
}

.reviews-list__buyer {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  text-transform: capitalize;
  color: #8a8a8a;
}
/* ========== END REVIEWS ========== */

/* ========== MANUFACTURING ========== */
.manufacturing__head {
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  color: #000000;
}

.manufacturing__text {
  font-size: 18px;
  line-height: 1.78;
  color: #000000;
}

.manufacturing_link {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}
/* ========== END MANUFACTURING ========== */

/* ========== SET THE MOOD ========== */
.setTheMood__head {
  font-weight: 400;
  font-size: 55px;
  line-height: 1.45;
  text-align: center;
  /* color: #FFFFFF; */
}

.setTheMood__playlist {
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  /* color: #FFFFFF; */
}

.followus__text {
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  /* color: #FFFFFF; */
}

.followus__link {
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* color: #ffffff; */
}

.followus__link:hover,
.followus__link:focus {
  font-size: 16px;
  font-weight: 700;
}

/* ========== END SET THE MOOD ========== */

/* ========== FOOTER ========== */
.posted__head {
  font-weight: 400;
  font-size: 42px;
  line-height: 1.72;
  /* color: #FFFFFF; */
}

.posted__text {
  font-size: 18px;
  line-height: 1.5;
  /* color: #FFFFFF; */
}

.dropus__list-head {
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  /* color: #ffffff; */
}

.dropus__link {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* color: rgba(255, 255, 255, 0.6); */
}

.footer-copyright_link {
  font-size: 16px;
  line-height: 1.5;
  /* color: rgba(255, 255, 255, 0.6); */
}

.footer-copyright_item {
  font-size: 15px;
  line-height: 1.6;
  /* color: #FFFFFF; */
}
/* ========== END FOOTER ========== */
