:root {
  --body-background-color: #ffffff;
  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
  --button-background-color: #000000;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Roboto Serif', serif;
}

/* ========== BODY ==========*/
.body {
  width: 1440px;
  background-color: var(--body-background-color);
  color: var(--secondary-text-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
}

/* ========== END BODY ==========*/

/* ========== COMPONENTS and UTILITES========== */
.container {
  outline: 2px solid tomato;
  width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  background-color: var(--button-background-color);
  height: 52px;
  width: 180px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.setTheMood__button--spotify {
  background-color: #ffffff;
}

.heads {
  font-family: var(--secondary-font);
  margin: 0 0;
}

p,
ul {
  margin: 0 0;
  padding: 0 0;
}

/* ========== END COMPONENTS ========== */

/* ========== HEADER ========== */

/* .header {
  outline: 2px solid tomato;
} */

.site-nav__list {
  display: flex;
  align-items: center;
}

.site-nav__item:nth-child(-n + 2) {
  margin-right: 60px;
}

.site-nav__item:nth-child(4) {
  margin-right: auto;
  margin-left: auto;
}

.site-nav__item:nth-child(5){
  margin-right: 64px;
}

.site-nav__item:nth-child(6) {
  margin-right: 64px;
}

.logo {
  background-color: aquamarine;
}

.site-nav__link {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* color: #FFFFFF; */
}

.site-nav__link:hover,
.site-nav__link:focus {
  font-weight: 700;
  font-size: 16px;
}

/* ========== END HEADER ========== */

/* ========== HERO ========== */

.hero {
  display: flex;
  outline: 1px solid tomato;
  background-color: #996B60;
}

.hero__description {
width: 600px;
margin-top: auto;
margin-bottom: 100px;
margin-right: auto;
margin-left: auto;
}

.hero__head {
  font-weight: 400;
  font-size: 73px;
  line-height: 1.32;

  margin-bottom: 34px;
  color: #ffffff;
}

.hero__text {
  font-size: 18px;
  line-height: 1.78;

  margin-bottom: 46px;
  color: #ffffff;
}

.hero__button--shopall {
  font-weight: 400;
 font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  background-color: transparent;
  color: #000000;
  border: 1px solid #ffffff;
}

/* ========== END HERO ========== */

/* ========== ADVANTAGES ========== */

.advantages {
  /* outline: 1px solid teal; */
}

.advantages-container {
  background: teal;
  margin-top: 55px;
  margin-bottom: 55px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 40px;
}

.advantages-list {
  display: flex;
}

.advantages-list__item {
  outline: 1px solid rgb(128, 98, 0);
  width: 330px;
  align-items: center;
  padding-top: 4px;
  padding-right: 21px;
  padding-left: 21px;
}

.advantages-list__item:not(:last-child) {
  margin-right: 150px;
}

.advantages-list__text {
  margin-bottom: 36px;
  /* margin-top: 4px; */
  /* margin-right: 21px; */
  /* margin-left: 21px; */

  font-size: 18px;
  line-height: 1.78;
  text-align: center;
  color: #000000;
}

.advantages-list__img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  /* padding-bottom: 40px; */
}

/* ========== END ADVANTAGES ========== */

/* ========== INGRIDIENTS ========== */
.ingridients {
  outline: 1px solid tomato;
}

.ingridients-container {
  padding-top: 50px;
  padding-bottom: 61px;
  background-color: bisque;
}

.ingridients-head {
  width: 760px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  text-align: center;
}

.ingridients-text {
  width: 250px;
  margin-bottom: 80px;
  margin-right: auto;
  margin-left: auto;

  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ingridients-semples {
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 80px;
}

.ingridients-list {
  display: flex;
}

.ingridients-list__item {
  width: 382px;
}

.ingridients-list__item:not(:last-child) {
  margin-right: 55px;
}

.ingridients-description {
  margin-top: 20px;
  padding-top: 1px;
  padding-right: 8px;
  padding-left: 8px;
}

.ingridients-list__head {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.47;
  text-align: center;

  margin-bottom: 16px;
}

.ingridients-list__text {
  font-size: 16px;
  line-height: 1.75;
  text-align: center;

  margin-bottom: 27px;
}

.ingridients__button--buynow {
  display: block;
  margin: 0 auto;
  color: #ffffff;
}

/* ========== END INGRIDIENTS ========== */

/* ========== APERITIFS ========== */
.aperitifs {
  outline: 1px solid teal;
}

.aperitifs-container {
  margin-top: 60px;
  padding: 0 0;
}

.aperitifs__img {
  display: block;
  margin-bottom: 55px;
}

.aperitifs__description {
  display: flex;
  padding: 4px 15px 95px 15px;
}

.aperitifs__head {
  width: 310px;

  font-weight: 400;
  font-size: 53px;
  line-height: 1.51;

  /* margin-right: 243px; */
}

.aperitifs__text {
  width: 700px;
  font-size: 18px;
  line-height: 1.78;

  margin-left: auto;
}

/* ========== END APERITIFS ========== */

/* ========== EASY TO DRINK ========== */
.easyToDrink {
  outline: 1px solid tomato;
}

.easyToDrink__container {
  display: flex;

  padding-top: 60px;
  padding-bottom: 50px;
}

.easyToDrink__description {
  width: 390px;
  margin-right: auto;
}

.drinking-list__head {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.47;

margin-bottom: 19px;

  color: #000000;
}

.drinking-list__text {
  font-size: 18px;
  line-height: 1.78;
  color: #000000;
}

.drinking-list__head--natural {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.23;

margin-bottom: 17px;

  color: #000000;
}

.drinking-list__text {
  margin-bottom: 20px;
}

.drinking-list__text--nomargin {
  margin-bottom: -20px;
}

/* ========== END EASY TO DRINK ========== */

/* ========== REVIEWS ========== */
.reviews {
  outline: 1px solid tomato;
}

.reviews__description {}

.reviews-list {
  display: flex;
}

.reviews-list__item {
  outline: 1px solid tomato;
}

.reviews-list_text {
  font-size: 18px;
  line-height: 1.78;
  text-align: center;
  /* color: #ffffff; */
}

.reviews-list__reviewer {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  /* color: #FFFFFF; */
}

.reviews-list__buyer {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  text-transform: capitalize;
  color: #8a8a8a;
}
/* ========== END REVIEWS ========== */

/* ========== MANUFACTURING ========== */
.manufacturing {
  outline: 1px solid teal;
}

.manufacturing__container {
  display: flex;
}

.manufacturing__head {
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  color: #000000;
}

.manufacturing__text {
  font-size: 18px;
  line-height: 1.78;
  color: #000000;
}

.manufacturing_link {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}
/* ========== END MANUFACTURING ========== */

/* ========== SET THE MOOD ========== */
.setTheMood {
  background: #000;
  width: 550px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.setTheMood__head {
  font-weight: 400;
  font-size: 55px;
  line-height: 1.45;
  text-align: center;
  color: #ffffff;
}

.setTheMood__playlist {
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  color: #ffffff;
}

.followus {
  background: #000;
  width: 550px;
  padding-top: 28px;
  padding-bottom: 35px;
  margin-top: 20px;
}

.followus__list {
  display: flex;
}

.followus__text {
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
}

.followus__link {
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}

.followus__link:hover,
.followus__link:focus {
  font-size: 16px;
  font-weight: 700;
}

/* ========== END SET THE MOOD ========== */

/* ========== FOOTER ========== */
.posted__head {
  font-weight: 400;
  font-size: 42px;
  line-height: 1.72;
  /* color: #FFFFFF; */
}

.posted__text {
  font-size: 18px;
  line-height: 1.5;
  /* color: #FFFFFF; */
}

.dropus__list-head {
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  /* color: #ffffff; */
}

.dropus__link {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* color: rgba(255, 255, 255, 0.6); */
}

.footer-copyright_link {
  font-size: 16px;
  line-height: 1.5;
  /* color: rgba(255, 255, 255, 0.6); */
}

.footer-copyright_item {
  font-size: 15px;
  line-height: 1.6;
  /* color: #FFFFFF; */
}
/* ========== END FOOTER ========== */
