.aperitifs {
    /* outline: 1px solid teal; */
    padding-top: 60px;
}

.aperitifs-container {
    padding: 0 0;
    border-bottom: 1px solid #BDBDBD;
}

.aperitifs__img {
    display: block;
    margin-bottom: 55px;
}

.aperitifs__description {
    display: flex;
    padding: 4px 15px 95px 15px;
}

.aperitifs__head {
    width: 310px;

    font-weight: 400;
    font-size: 53px;
    line-height: 1.51;
}

.aperitifs__text {
    width: 700px;
    font-size: 18px;
    line-height: 1.78;

    margin-left: auto;
}