.footer {
    /* outline: 2px solid #996B60; */
    background-color: #000000;

    padding-top: 45px;
    padding-bottom: 40px;
}

.footer-container {
    display: flex;

    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 125px;
}

.posted {
    width: 440px;
    /* outline: 1px solid brown; */

    margin-bottom: 116px;
    margin-right: auto;
}

.posted__head {
    font-weight: 400;
    font-size: 42px;
    line-height: 1.72;
    color: #FFFFFF;
}

.posted__text {
    font-size: 18px;
    line-height: 1.5;
    color: #FFFFFF;
}

.dropus__list {
    width: 218px;
}

.dropus__list-head {
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;

    margin-bottom: 23px;

    color: #ffffff;
}

.dropus__item:not(:last-child) {
    margin-bottom: 21px;
}

.dropus__link {
    display: inline-block;

    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.6);

    transition: transform 250ms linear;
}

.dropus__link:hover {
    transform: scale(1.2);
}

.footer-copyright {
    display: flex;
}

.container-copyright {
    margin-left: 60px;
    margin-right: 60px;
}

.footer-copyright_link {
    font-size: 16px;
    line-height: 1.5;

    color: rgba(255, 255, 255, 0.6);
}

.footer-copyright_item {
    font-size: 15px;
    line-height: 1.6;

    margin-right: 60px;

    color: #FFFFFF;

    transition: transform 250ms linear;
}

.footer-copyright_item:hover:not(:nth-child(1)) {
    transform: scale(1.2);
}

.footer-copyright_item:last-child {
    margin-right: -60px;
}