.hero {
    display: flex;
    background-color: #996B60;

    &__description {
        @extend %margin-center;
        width: 600px;
        margin-top: auto;
        margin-bottom: 100px;
    }

    &__head {
        font-weight: 400;
        @include font(73px, 96px);
    
        margin-bottom: 34px;
        color: #ffffff;
    }

    &__text {
        @include font(18px, 32px);

        margin-bottom: 46px;
        color: #ffffff;
    }

    &__button--shopall {
        display: block;
        font-weight: 400;
        @include font(12px, 14px);

        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
    
        padding: 18px 32px;
    
        background-color: transparent;
        color: #000000;
        border: 1px solid #ffffff;
    
        transition: transform 250ms linear;
    
        &:hover {
            transform: scale(1.2);
            font-weight: bold;
        }
    }
}