.ingridients-container {
    padding-top: 50px;
    padding-bottom: 61px;

    border-bottom: 1px solid #BDBDBD;
}

.ingridients-head {
    @include font(64px, 80px);

    margin-right: auto;
    margin-left: auto;
    width: 760px;
    margin-bottom: 24px;

    font-weight: 400;
    text-align: center;
}

.ingridients-text {
    @extend %margin-center;
    @include font(12px, 18px);

    display: block;
    width: 250px;
    margin-bottom: 80px;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: var(--secondary-text-color);

    transition: transform 250ms linear;

        &:hover {
            transform: scale(1.2);
            font-weight: bold;
        }
}

.ingridients-semples {
    @include padding (0px, 17px, 80px, 17px);
}

.ingridients-list {
    display: flex;

    &__item {
        width: 382px;
    
        &:not(:last-child) {
            margin-right: 55px;
        }
    }

    &__head {
        font-weight: 400;
        @include font(30px, 44px);
        text-align: center;
    
        margin-bottom: 16px;
    }

    &__text {
        @include font(16px, 28px);
        text-align: center;
    
        margin-bottom: 27px;
    }
}

.ingridients-description {
    margin-top: 20px;
    @include padding (1px, 8px, 0px, 8px);
}

.ingridients__button--buynow {
    display: block;
    margin: 0 auto;
    color: #ffffff;

    transition: transform 250ms linear;

        &:hover {
            transform: scale(1.2);
            font-weight: bold;
        }
}

