.manufacturing {
    &__container {
        display: flex;
    
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__description {
        width: 660px;
    
        margin-left: auto;
        @include padding (2px, 8px, 5px, 8px);
    }

    &__head {
        font-weight: 400;
        @include font(64px, 80px);

        margin-bottom: 42px;
    
        color: #000000;
    }

    &__text {
        @include font(18px, 32px);
    
        margin-bottom: 35px;
    
        color: #000000;
    }

    &__link {
        display: inline-block;
        @include font(12px, 18px);
        letter-spacing: 1px;
        text-transform: uppercase;
    
        color: #000000;
    
        transition: transform 250ms linear;
    
        &:hover {
            transform: scale(1.2);
            font-weight: bold;
        }
    }
}