.body {
    width: 1440px;
    background-color: var(--body-background-color);
    color: var(--secondary-text-color);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
}