:root {
    --body-background-color: #ffffff;
    --primary-text-color: #ffffff;
    --secondary-text-color: #000000;
    --button-background-color: #000000;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Roboto Serif', serif;
}